<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>FORM PEGAWAI</h2>
      <hr/>
      <label for="nama">Nama</label>
      <input type="text" class="form-control" [(ngModel)]="nama">
      <label for="nip">NIP</label>
      <input type="text" class="form-control" [(ngModel)]="nip">
      <label for="alamat">alamat</label>
      <input type="text" class="form-control" [(ngModel)]="alamat">
      <label for="jk">Jenis Kelamin</label>
      <input type="text" class="form-control" [(ngModel)]="jk">
      <br/>
      <button class="btn btn-primary" (click)="tambahPegawai()">Tambah</button>
      <hr/>
    </div>
  </div>
  <div class="row" *ngFor="let pegawai of daftarPegawai">
    <div class="col-md-12">
      <h2>{{ pegawai.nama }}</h2>
      <h3>{{ pegawai.nip }}</h3>
      <p>{{ pegawai.jk }}</p>
      <p>{{ pegawai.alamat }}</p>
      <hr/>
    </div>
  </div>
</div>